<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Inicio</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>

<nav>
    <div class="nav-wrapper red lighten-1">
      <a href="/" class="brand-logo">Teste Cliente Fiel</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down red lighten-1">
        <li><a href="/cadastro/frases">Frases</a></li>
        <li><a href="/cadastro/pacotesdeimagens">Pacotes de Imagens</a></li>
        <li><a href="/">Início</a></li>
      </ul>
    </div>
  </nav>

	<h4>Sistema de Edição de Fotografias</h4>

	<br />

</body>
</html>